<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a [routerLink]="['/ventes/all']">Ventes-All</a></li>
                            <li class="active">New</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div><!--Fin tolsbar-->
    
    <div class="row">
        <div class="content">
            <div class="animated fadeIn">


                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Vendre</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Veuillez renseigner tous les champs</h3>
                                        </div>
                                        <hr>
                                        <form [formGroup]="newForm">
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="select" class=" form-control-label">Client</label></div>
                                                <div class="col-12 col-md-9">
                                                    <select formControlName="contact" id="select" class="form-control">
                                                        <option value="0">Please select</option> <option value="1">Mamadou BARRY</option>
                                                        <option value="2">Aly KEITA</option>
                                                        <option value="3">Aminata DIALLO</option>
                                                        <option value="1">Mamadou BARRY</option>
                                                    </select>
                                                    <small class="form-text text-muted" *ngFor="let error of error_messages.contact">
                                                        <p class="text-danger" *ngIf="newForm.controls['contact'].hasError(error.type) && (newForm.controls['contact'].dirty || newForm.controls['contact'].touched || newForm.controls['contact'].touched)"> 
                                                            {{error.message}} 
                                                        </p>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3"><label for="select" class=" form-control-label">Article</label></div>
                                                <div class="col-12 col-md-9">
                                                    <select formControlName="article" id="select" class="form-control">
                                                        <option value="0">Please select</option>
                                                        <option value="1">Pack-eau</option>
                                                    </select>
                                                    <small class="form-text text-muted" *ngFor="let error of error_messages.article">
                                                        <p class="text-danger" *ngIf="newForm.controls['article'].hasError(error.type) && (newForm.controls['article'].dirty || newForm.controls['article'].touched || newForm.controls['article'].touched)"> 
                                                            {{error.message}} 
                                                        </p>
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="qt" class="control-label mb-1">Qauntité</label>
                                                        <input formControlName="qt" type="number" class="form-control cc-exp"  placeholder="ex:0">
                                                        <small class="form-text text-muted" *ngFor="let error of error_messages.qt">
                                                            <p class="text-danger" *ngIf="newForm.controls['qt'].hasError(error.type) && (newForm.controls['qt'].dirty || newForm.controls['qt'].touched || newForm.controls['qt'].touched)"> 
                                                                {{error.message}} 
                                                            </p>
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label for="x_card_code" class="control-label mb-1">Prix</label>
                                                    <div class="input-group">
                                                        <input formControlName="prix" type="number" class="form-control"  autocomplete="off" placeholder="ex: 0 €">
                                                        <small class="form-text text-muted ml-3" *ngFor="let error of error_messages.prix">
                                                            <p class="text-danger" *ngIf="newForm.controls['prix'].hasError(error.type) && (newForm.controls['prix'].dirty || newForm.controls['prix'].touched || newForm.controls['prix'].touched)"> 
                                                                {{error.message}} 
                                                            </p>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                                    <span id="payment-button-amount">Appliquer</span>
                                                    <span id="payment-button-sending" style="display:none;">Sending…</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div> <!-- .card -->

                    </div><!--/.col-->

            </div>


        </div><!-- .animated -->
    </div><!-- .content -->
   </div>