.ventes-content{
    width: 97.5%;
    margin: auto;
    margin-top: 115px;
}

.filtre-content{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    position: inherit;
}

.filtre-content .filtre{
    display: flex;
    justify-content: space-between;
    margin-left: 18px;
    position: absolute;
    width: 160px;
    top: 25px;
}

.search{
    margin-right: 18px;
    position: relative;
    top: 1px;
}