 <div class="breadcrumbs mb-3">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Contacts</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a [routerLink]="['/']">Dashboard</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <!-- Orders -->
 <div class="col-md-12 mb-5 mt-5">
 <br/>
 <div class="col-sm-4  mt-5">
  <button class="btn btn-primary" (click)="goNew()">New Contact</button>
 </div>

 <div class="col-sm-12 input-group mt-3">
  <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
  <datalist id="datalistOptions">
    <option value="San Francisco">
    <option value="New York">
    <option value="Seattle">
    <option value="Los Angeles">
    <option value="Chicago">
  </datalist>
</div>

 <div class="col-sm-12 orders mt-2">
  <div class="row">
      <div class="col-xl-12">
          <div class="card">
              <div class="card-body">
                  <h4 class="box-title">Nos lients </h4>
              </div>
              <div class="card-body--">
                  <div class="table-stats order-table ov-h">
                      <table class="table ">
                          <thead>
                              <tr>
                                  <th class="serial">#</th>
                                  <th class="avatar">Avatar</th>
                                  <th>Name</th>
                                  <th>Phone</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let contact of listContacts, let i = index">
                              <tr (click)="goDetail(contact)">
                                  <td class="serial">{{i+1}}</td>
                                  <td class="avatar">
                                      <div class="round-img">
                                          <a href="#"><img class="rounded-circle" src="assets/images/avatar/1.jpg" alt=""></a>
                                      </div>
                                  </td>
                                  <td>  <span class="name">{{contact.name}}</span> </td>
                                  <td> <span class="product">{{contact.phone}}</span> </td>
                                  <td>
                                      <span class="badge badge-complete">Complete</span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div> <!-- /.table-stats -->
              </div>
          </div> <!-- /.card -->
      </div>  <!-- /.col-lg-8 -->
  </div>
</div>
</div>
<!-- /.orders -->
    
 