<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a  [routerLink]="['/']">Article-All</a></li>
                            <li><a [routerLink]="['/articles/detail/1']">Detail-All</a></li>
                            <li class="active">New</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--Fin tolsbar-->
    
    <div class="row">
        <div class="col-sm-11 offset-sm-6 mr-auto ml-auto mt-5 mb-5">
        <h1 class="mb-3">Modifier Articles</h1>
      
      <form [formGroup]="newForm" (ngSubmit)="onSubmit()">  
            <div class="row mt-3">
              <div class="col">
                <label for="">Nom Article</label>
                <input formControlName="name" type="text" class="form-control" placeholder="ex: eau ">
                <small class="form-text text-muted" *ngFor="let error of error_messages.name">
                  <p class="text-danger" *ngIf="newForm.controls['name'].hasError(error.type) && (newForm.controls['name'].dirty || newForm.controls['name'].touched || newForm.controls['name'].touched)"> 
                      {{error.message}} 
                  </p>
              </small>
              </div>
  
              <div class="col">
                <label for="">Quantité</label>
                <input formControlName="qt" type="number" class="form-control" placeholder="ex: 10">
                <small class="form-text text-muted" *ngFor="let error of error_messages.qt">
                  <p class="text-danger" *ngIf="newForm.controls['qt'].hasError(error.type) && (newForm.controls['qt'].dirty || newForm.controls['qt'].touched || newForm.controls['qt'].touched)"> 
                      {{error.message}} 
                  </p>
              </small>
              </div>
            </div>
  
          <button type="submit" class="btn btn-primary mt-3">Appliquer</button>
        </form>
      </div>
   </div>