<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a  [routerLink]="['/']">Articles-All</a></li>
                            <li class="active">Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<div class="article-content ">
    <!-- Content -->
   
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="ti-layout-grid3-alt"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text">Pack-eau</div>
                                        <br/>
                                    </div>
                                    <div class="mt-3">
                                        <small><a (click)="goEdit()">Modifier</a></small>
                                        <small class="ml-3"><a href="">Supprimer</a></small>
                                    </div>
                                </div>
                                
                            </div>
                          
                        </div>
                    </div>
                </div>
            <!-- /Widgets -->
          
                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-1">
                        <div class="card-body">
                            <div class="card-left pt-1 float-left">
                                <h3 class="mb-0 fw-r">
                                    <span class="currency float-left mr-1">$</span>
                                    <span class="count">23569</span>
                                </h3>
                                <p class="text-light mt-1 m-0">Revenue de ce aticle</p>
                            </div><!-- /.card-left -->

                            <div class="card-right float-right text-right">
                                <i class="icon fade-5 icon-lg pe-7s-cart"></i>
                            </div><!-- /.card-right -->

                        </div>

                    </div>
                </div>
                <!--/.col-->

                <div class="col-sm-6 col-lg-3">
                    <div class="card text-white bg-flat-color-3">
                        <div class="card-body">
                            <div class="card-left pt-1 float-left">
                                <h3 class="mb-0 fw-r">
                                    <span class="count">6569</span>
                                </h3>
                                <p class="text-light mt-1 m-0">Disponibles en Stock</p>
                            </div><!-- /.card-left -->

                            <div class="card-right float-right text-right">
                                <i class="icon fade-5 icon-lg ti-shopping-cart-full"></i>
                            </div><!-- /.card-right -->

                        </div>

                    </div>
                </div>
                <!--/.col-->

                    </div>
                </div>
            </div><!-- .row -->
  
        <!-- .animated -->
   
 
