 
 <!-- Content -->
 <div class="content app-content">
   <!-- Animated -->
   <div class="animated fadeIn">
       <!-- Widgets  -->
       <div class="row">
           <div class="col-lg-3 col-md-6">
               <div class="card">
                   <div class="card-body">
                       <div class="stat-widget-five">
                           <div class="stat-icon dib flat-color-1">
                               <i class="pe-7s-cash"></i>
                           </div>
                           <div class="stat-content">
                               <div class="text-left dib">
                                   <div class="stat-text">$<span class="count">23569</span></div>
                                   <div class="stat-heading">Revenues</div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-6">
               <div class="card">
                   <div class="card-body">
                       <div class="stat-widget-five">
                           <div class="stat-icon dib flat-color-2">
                               <i class="pe-7s-cart"></i>
                           </div>
                           <div class="stat-content">
                               <div class="text-left dib">
                                   <div class="stat-text"><span class="count">3435</span></div>
                                   <div class="stat-heading">Vendus</div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-6">
               <div class="card">
                   <div class="card-body">
                       <div class="stat-widget-five">
                           <div class="stat-icon dib flat-color-3">
                               <i class="pe-7s-browser"></i>
                           </div>
                           <div class="stat-content">
                               <div class="text-left dib">
                                   <div class="stat-text"><span class="count">349</span></div>
                                   <div class="stat-heading">Articles</div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-6">
               <div class="card">
                   <div class="card-body">
                       <div class="stat-widget-five">
                           <div class="stat-icon dib flat-color-4">
                               <i class="pe-7s-users"></i>
                           </div>
                           <div class="stat-content">
                               <div class="text-left dib">
                                   <div class="stat-text"><span class="count">2986</span></div>
                                   <div class="stat-heading">Clients</div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /Widgets -->
       <!--  Traffic  -->
       <div class="row">
           <div class="col-lg-12">
               <div class="card">
                   <div class="card-body">
                       <h4 class="box-title">Traffic </h4>
                   </div>
                   <div class="row">
                       <div class="col-lg-8">
                           <div class="card-body">
                               <p>
                                Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, 
                                le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
                                 Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
                               </p>
                           </div>
                       </div>
                       <div class="col-lg-4">
                           <div class="card-body">
                            <p>
                                Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour,
                                Ltable ejd del areconcili e lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour
                            </p>
                           </div> <!-- /.card-body -->
                       </div>
                   </div> <!-- /.row -->
                   <div class="card-body"></div>
               </div>
           </div><!-- /# column -->
       </div>
       <!--  /Traffic -->
       <div class="clearfix"></div>
       <!-- Orders -->
       <div class="orders">
           <div class="row">
               <div class="col-xl-8">
                   <div class="card">
                       <div class="card-body">
                           <h4 class="box-title">Nos mmeilleur clients </h4>
                       </div>
                       <div class="card-body--">
                           <div class="table-stats order-table ov-h">
                               <table class="table ">
                                   <thead>
                                       <tr>
                                           <th class="serial">#</th>
                                           <th class="avatar">Avatar</th>
                                           <th>ID</th>
                                           <th>Name</th>
                                           <th>Product</th>
                                           <th>Quantity</th>
                                           <th>Status</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       <tr>
                                           <td class="serial">1.</td>
                                           <td class="avatar">
                                               <div class="round-img">
                                                   <a href="#"><img class="rounded-circle" src="assets/images/avatar/1.jpg" alt=""></a>
                                               </div>
                                           </td>
                                           <td> #5469 </td>
                                           <td>  <span class="name">Louis Stanley</span> </td>
                                           <td> <span class="product">iMax</span> </td>
                                           <td><span class="count">231</span></td>
                                           <td>
                                               <span class="badge badge-complete">Complete</span>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="serial">2.</td>
                                           <td class="avatar">
                                               <div class="round-img">
                                                   <a href="#"><img class="rounded-circle" src="assets/images/avatar/2.jpg" alt=""></a>
                                               </div>
                                           </td>
                                           <td> #5468 </td>
                                           <td>  <span class="name">Gregory Dixon</span> </td>
                                           <td> <span class="product">iPad</span> </td>
                                           <td><span class="count">250</span></td>
                                           <td>
                                               <span class="badge badge-complete">Complete</span>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="serial">3.</td>
                                           <td class="avatar">
                                               <div class="round-img">
                                                   <a href="#"><img class="rounded-circle" src="assets/images/avatar/3.jpg" alt=""></a>
                                               </div>
                                           </td>
                                           <td> #5467 </td>
                                           <td>  <span class="name">Catherine Dixon</span> </td>
                                           <td> <span class="product">SSD</span> </td>
                                           <td><span class="count">250</span></td>
                                           <td>
                                               <span class="badge badge-complete">Complete</span>
                                           </td>
                                       </tr>
                                       <tr>
                                           <td class="serial">4.</td>
                                           <td class="avatar">
                                               <div class="round-img">
                                                   <a href="#"><img class="rounded-circle" src="assets/images/avatar/4.jpg" alt=""></a>
                                               </div>
                                           </td>
                                           <td> #5466 </td>
                                           <td>  <span class="name">Mary Silva</span> </td>
                                           <td> <span class="product">Magic Mouse</span> </td>
                                           <td><span class="count">250</span></td>
                                           <td>
                                               <span class="badge badge-pending">Pending</span>
                                           </td>
                                       </tr>
                                       <tr class=" pb-0">
                                           <td class="serial">5.</td>
                                           <td class="avatar pb-0">
                                               <div class="round-img">
                                                   <a href="#"><img class="rounded-circle" src="assets/images/avatar/6.jpg" alt=""></a>
                                               </div>
                                           </td>
                                           <td> #5465 </td>
                                           <td>  <span class="name">Johnny Stephens</span> </td>
                                           <td> <span class="product">Monitor</span> </td>
                                           <td><span class="count">250</span></td>
                                           <td>
                                               <span class="badge badge-complete">Complete</span>
                                           </td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div> <!-- /.table-stats -->
                       </div>
                   </div> <!-- /.card -->
               </div>  <!-- /.col-lg-8 -->

               <div class="col-xl-4">
                   <div class="row">
                       <div class="col-lg-6 col-xl-12">
                           <div class="card br-0">
                               <div class="card-body">
                                   <div class="chart-container ov-h">
                                       <div id="flotPie1" class="float-chart"></div>
                                   </div>
                               </div>
                           </div><!-- /.card -->
                       </div>

                       <div class="col-lg-6 col-xl-12">
                           <div class="card bg-flat-color-3  ">
                               <div class="card-body">
                                   <h4 class="card-title m-0  white-color ">August 2018</h4>
                               </div>
                                <div class="card-body">
                                    <div id="flotLine5" class="flot-line"></div>
                                </div>
                           </div>
                       </div>
                   </div>
               </div> <!-- /.col-md-4 -->
           </div>
       <!-- /.orders -->  
       </div>
   
        
       <!-- /Calender Chart Weather -->
       <!-- Modal - Calendar - Add New Event -->
       <div class="modal fade none-border" id="event-modal">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title"><strong>Add New Event</strong></h4>
                   </div>
                   <div class="modal-body"></div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                       <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                   </div>
               </div>
           </div>
       </div>
       <!-- /#event-modal -->
       <!-- Modal - Calendar - Add Category -->
       <div class="modal fade none-border" id="add-category">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title"><strong>Add a category </strong></h4>
                   </div>
                   <div class="modal-body">
                       <form>
                           <div class="row">
                               <div class="col-md-6">
                                   <label class="control-label">Category Name</label>
                                   <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name"/>
                               </div>
                               <div class="col-md-6">
                                   <label class="control-label">Choose Category Color</label>
                                   <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                       <option value="success">Success</option>
                                       <option value="danger">Danger</option>
                                       <option value="info">Info</option>
                                       <option value="pink">Pink</option>
                                       <option value="primary">Primary</option>
                                       <option value="warning">Warning</option>
                                   </select>
                               </div>
                           </div>
                       </form>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                       <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                   </div>
               </div>
           </div>
       </div>
   <!-- /#add-category -->
   </div>
   <!-- .animated -->
</div>
<!-- /.content -->