 
        <div class="breadcrumbs">
          <div class="breadcrumbs-inner">
              <div class="row m-0">
                  <div class="col-sm-4">
                      <div class="page-header float-left">
                          <div class="page-title">
                              <h1>Contact</h1>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-8">
                      <div class="page-header float-right">
                          <div class="page-title">
                              <ol class="breadcrumb text-right">
                                  <li><a [routerLink]="['/contacts/all']">Contact-All</a></li>
                                  <li class="active">Edit</li>
                              </ol>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--Fin tolsbar-->

    <div class="row">
      <div class="col-sm-11 offset-sm-6 mr-auto ml-auto mt-5 mb-5">
      <h1 class="mb-3">Add Contact</h1>
    
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input formControlName="name" type="text" class="form-control" placeholder="Nom">
            <small class="form-text text-muted" *ngFor="let error of error_messages.name">
                <p class="text-danger " *ngIf="editForm.controls['name'].hasError(error.type) && (editForm.controls['name'].dirty || editForm.controls['name'].touched || editForm.controls['name'].touched)"> 
                    {{error.message}} 
                </p>
            </small>
          </div>

          <div class="form-group mt-3">
            <input formControlName="email" type="email" class="form-control"   placeholder="Email">
            <small class="form-text text-muted" *ngFor="let error of error_messages.email">
                <p class="text-danger" *ngIf="editForm.controls['email'].hasError(error.type) && (editForm.controls['email'].dirty || editForm.controls['email'].touched || editForm.controls['email'].touched)"> 
                    {{error.message}} 
                </p>
            </small> 
          </div>

          <div class="form-group mt-3">
            <input formControlName="phone" type="text" class="form-control"  placeholder="Telephone">
            <small class="form-text text-muted" *ngFor="let error of error_messages.phone">
                <p class="text-danger" *ngIf="editForm.controls['phone'].hasError(error.type) && 
                                              (editForm.controls['phone'].valid || editForm.controls['phone'].touched || editForm.controls['phone'].touched)"> 
                    {{error.message}} 
                </p>
            </small>
          </div>

          <div class="form-group mt-3">
            <input formControlName="street" type="text" class="form-control"  placeholder="Address">
            <small class="form-text text-muted" *ngFor="let error of error_messages.street">
                <p class="text-danger" *ngIf="editForm.controls['street'].hasError(error.type) && (editForm.controls['street'].dirty || editForm.controls['street'].touched || editForm.controls['street'].touched)"> 
                    {{error.message}} 
                </p>
            </small>
          </div>

          <div class="row mt-3">
            <div class="col">
              <input formControlName="zipcode" type="text" class="form-control" placeholder="Code Postal">
              <small class="form-text text-muted" *ngFor="let error of error_messages.zipcode">
                <p class="text-danger" *ngIf="editForm.controls['zipcode'].hasError(error.type) && (editForm.controls['zipcode'].dirty || editForm.controls['zipcode'].touched || editForm.controls['zipcode'].touched)"> 
                    {{error.message}} 
                </p>
            </small>
            </div>

            <div class="col">
              <input formControlName="city" type="text" class="form-control" placeholder="Ville">
              <small class="form-text text-muted" *ngFor="let error of error_messages.city">
                <p class="text-danger" *ngIf="editForm.controls['city'].hasError(error.type) && (editForm.controls['city'].dirty || editForm.controls['city'].touched || editForm.controls['city'].touched)"> 
                    {{error.message}} 
                </p>
            </small>
            </div>
          </div>

        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
      </form>
    </div>
 </div>