
<!-- Left Panel -->
<app-side-menu></app-side-menu>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <app-navbar></app-navbar>
    
        <router-outlet></router-outlet>
  
</div>

<app-footer></app-footer>
 