 
  
  <div class="breadcrumbs mb-3">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Articles</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a [routerLink]="['/']">Dashboard</a></li>
                            <li class="active">Data table</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
        <div class="col-sm-12 mb-3">
            <div class="col-sm-4  mt-5">
                <button class="btn btn-primary">New Article</button>
            </div>
        </div>
        <div class="content">
            <div class="animated fadeIn">
                <div class="articles d-flex">
                    <div class="col-md-4">
                        <div class="card" (click)="goDetail()">
                            <img class="card-img-top" src="https://i.imgur.com/hrS2McC.png" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Card Image Title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

<div class="clearfix"></div>




 