<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Contacts</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a [routerLink]="['/contacts/all']">Contacts-All</a></li>
                            <li class="active">Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <section class="card col-md-8 offset-md-6 mr-auto ml-auto mt-5 mb-5">
      <div class="twt-feed blue-bg">
          <div class="corner-ribon black-ribon">
              <i class="fa fa-unlock"></i>
          </div>
          <div class="fa fa-twitter wtt-mark"></div>

          <div class="media">
              <a href="#">
                  <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="assets/images/admin.jpg">
              </a>
              <div class="media-body">
                  <h2 class="text-white display-6">{{contact.name}}</h2>
                  <p class="text-light">{{contact.email}}</p>
                  <p class="text-light">{{contact.phone}}</p>
              </div>
          </div>



      </div>
      <div class="weather-category twt-category">
          <ul>
              <li class="active">
                  <h5>750</h5>
                  Tweets
              </li>
              <li>
                  <h5>865</h5>
                  Following
              </li>
              <li>
                  <h5>3645</h5>
                  Followers
              </li>
          </ul>
      </div>
     
      <footer class="twt-footer">
          <small (click)="goEdit()"><i class="fa fa-pencil mr-5"></i></small>
          <small (click)="goDelet()"><i class="fa fa-trash-o mr-5"></i></small>
         
          <span class="pull-right">
              32
          </span>
      </footer>
  </section>
</div>
<br/>
    
